se importa la librería pandas
se leen los archivos steam games y user item

In [1]:
import pandas as pd
df1= pd.read_csv('../datasets/steam_games.csv')
df2=pd.read_csv('../datasets/user_item.csv')

In [2]:
df1.head()

       genres                                         app_name      id    year
0  Simulation  Train Simulator: BR Class 423 ‘4VEP’ EMU Add-On   65256  2012.0
1       Indie                                       BattleRush  734580  2017.0
2    Strategy                                    Reverse Crawl  400660  2015.0
3   Adventure                         Countless Rooms of Death  341380  2014.0
4       Indie                                   Tomato Jones 2  625940  2017.0

In [3]:
df2.head()

,user_id,items_count,steam_id,item_id,item_name,playtime_forever
0,HailOfLead,88,76561198076282242,2430,The Ship Tutorial,0.0
1,Monkers,89,76561197960511174,7940,Call of Duty 4: Modern Warfare,132.0
2,76561198065166613,42,76561198065166613,4000,Garry's Mod,5405.0
3,_ndsa,777,76561197967003986,236830,Red Orchestra 2: Heroes of Stalingrad - Single...,0.0
4,pavelkadots,564,76561198045300427,26900,Crayon Physics Deluxe,11.0

se cambia de nombre item id para poder concantenar los dataframe

In [4]:
df2.rename(columns={'item_id': 'id'}, inplace=True)

In [5]:
merged_df = pd.merge(df1, df2, on='id')

dataframe concatenado para la función

In [6]:
merged_df.head()

,genres,app_name,id,year,user_id,items_count,steam_id,item_name,playtime_forever
0,RPG,Robocraft,301520,2017.0,cazzabro,232,76561198042641284,Robocraft,26.0
1,RPG,Robocraft,301520,2017.0,doomkiller20911,51,76561198142843856,Robocraft,18.0
2,RPG,Robocraft,301520,2017.0,potisrest0,94,76561198071919962,Robocraft,3550.0
3,RPG,Robocraft,301520,2017.0,HoneyBeeGames,98,76561198067187516,Robocraft,1274.0
4,RPG,Robocraft,301520,2017.0,kinghamc,74,76561198018017578,Robocraft,0.0

se eliminan columnas innecesarias

In [7]:
merged_df.drop(columns=['app_name','user_id','items_count','steam_id','item_name'],inplace=True)

In [8]:
merged_df.head()
merged_df.drop(columns=['id'],inplace=True)

se verifican campos nulos y se elimina

In [9]:
merged_df.isnull().sum()# Cuanto la cantidad de nulos

genres              0
year                0
playtime_forever    0
dtype: int64

se elimina nulos en columna year o año

In [10]:
merged_df = merged_df.dropna(subset=['year'])

In [11]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   genres            126 non-null    object
 1   year              126 non-null    float64
 2   playtime_forever  126 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.1+ KB

In [12]:
merged_df.head()

  genres    year  playtime_forever
0    RPG  2017.0              26.0
1    RPG  2017.0              18.0
2    RPG  2017.0            3550.0
3    RPG  2017.0            1274.0
4    RPG  2017.0               0.0

se crea ka función uno en formato csv

In [13]:
merged_df.to_csv('../datasets/funcion_uno.csv',index=False)

In [15]:
df = pd.read_csv('../datasets/funcion_uno.csv')
df.head()

  genres    year  playtime_forever
0    RPG  2017.0              26.0
1    RPG  2017.0              18.0
2    RPG  2017.0            3550.0
3    RPG  2017.0            1274.0
4    RPG  2017.0               0.0

se define la función para calcular horas jugadas en un año

In [16]:


def PlayTimeGenre(genero: str):
    # se carga los datos 
    df = pd.read_csv('../datasets/funcion_uno.csv')

    # se filtra el DataFrame por género
    df_genre = df[df['genres'] == genero]

    # se agrupa  por año de lanzamiento y se  calcula la suma de las horas jugadas para cada año
    horas_anio = df_genre.groupby('year')['playtime_forever'].sum()

    # se encuentra  el año con la suma máxima de horas jugadas
    max_year = horas_anio.idxmax()

    
    result = {"Año de lanzamiento con más horas jugadas para Género " + genero: max_year}
    return result

#ejemplo
resultado = PlayTimeGenre("Action")
print(resultado)

{'Año de lanzamiento con más horas jugadas para Género Action': 2004.0}