Se importa la librería pandas
Se leen los archivos de steam_games y user_item

In [3]:
import pandas as pd
df1= pd.read_csv('../datasets/steam_games.csv')
df2=pd.read_csv('../datasets/user_item.csv')

se realiza concatenación de los dataframes cargados

In [4]:
df2.rename(columns={'item_id': 'id'}, inplace=True)

In [5]:
merged_df = pd.merge(df1, df2, on='id')

In [6]:
merged_df.head()

,genres,app_name,id,year,user_id,items_count,steam_id,item_name,playtime_forever
0,RPG,Robocraft,301520,2017.0,cazzabro,232,76561198042641284,Robocraft,26.0
1,RPG,Robocraft,301520,2017.0,doomkiller20911,51,76561198142843856,Robocraft,18.0
2,RPG,Robocraft,301520,2017.0,potisrest0,94,76561198071919962,Robocraft,3550.0
3,RPG,Robocraft,301520,2017.0,HoneyBeeGames,98,76561198067187516,Robocraft,1274.0
4,RPG,Robocraft,301520,2017.0,kinghamc,74,76561198018017578,Robocraft,0.0

se eliminan columnas innecesarias para la función requerida

In [7]:
merged_df.drop(columns=['app_name','items_count','steam_id','item_name'],inplace=True)

In [8]:
merged_df.isnull().sum()

genres              0
id                  0
year                0
user_id             0
playtime_forever    0
dtype: int64

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   genres            126 non-null    object
 1   id                126 non-null    int64
 2   year              126 non-null    float64
 3   user_id           126 non-null    object
 4   playtime_forever  126 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 5.1+ KB

In [9]:
merged_df.head()

  genres      id    year          user_id  playtime_forever
0    RPG  301520  2017.0         cazzabro              26.0
1    RPG  301520  2017.0  doomkiller20911              18.0
2    RPG  301520  2017.0       potisrest0            3550.0
3    RPG  301520  2017.0    HoneyBeeGames            1274.0
4    RPG  301520  2017.0         kinghamc               0.0

se crea el archivo funcion_dos en formato csv para ser usado ppr la función

In [10]:
merged_df.to_csv('../datasets/funcion_dos.csv',index=False)

In [11]:
df = pd.read_csv('../datasets/funcion_dos.csv')

In [14]:
df.sample(10)

        genres      id    year            user_id  playtime_forever
97   Adventure  252490  2013.0  76561198049910471              13.0
46      Action  203290  2015.0  76561198088583840              19.0
76      Action     220  2004.0    thefarkingchamp             725.0
73   Adventure    8290  2008.0      chickenislife              76.0
102  Adventure  252490  2013.0  76561198064894732             883.0
63    Strategy  113020  2013.0  76561198081815506             126.0
96       Indie  322330  2016.0  76561198007036654             281.0
110     Action  314560  2015.0            Eudanil               0.0
22   Adventure  311340  2014.0          LionBrito             441.0
42    Strategy  449140  2016.0       se7en-pounds             152.0


se define la función   UserForGenre(genero: str):

In [1]:

def UserForGenre(genero: str):
    
    df = pd.read_csv('../datasets/funcion_dos.csv')

    # se filtra el DataFrame por género
    df_genre = df[df['genres'] == genero]

    # se agrupa por usuario y año de lanzamiento, y se calcula la suma de las horas jugadas para cada usuario y año
    horas_usuario_anio = df_genre.groupby(['user_id', 'year'])['playtime_forever'].sum()

    # se encuentra  el usuario con la máxima suma de horas jugadas para el género dado
    max_usuario = horas_usuario_anio.groupby(level='user_id').sum().idxmax()

    #  se filtra las horas jugadas del usuario con la máxima suma
    horas_usuario_max = horas_usuario_anio.loc[max_usuario].reset_index()

    # se convierte los datos a un formato de lista de diccionarios
    horas_por_anio = horas_usuario_max.to_dict(orient='records')

    
    result = {
       "Usuario con más horas jugadas para Género " + genero: max_usuario,
        "Horas jugadas": horas_por_anio
    }

    return result

In [20]:
resultado = UserForGenre("Action")
print(resultado)

{'Usuario con más horas jugadas para Género Action': 'giantflyingoctopi', 'Horas jugadas': [{'year': 2015.0, 'playtime_forever': 2543.0}]}