Se importa la libreria de pandas 
se lee el archivo de user reviews que contiene la columna sentiment_analysis

In [10]:
import pandas as pd
df= pd.read_csv('../datasets/user_reviews.csv')

In [3]:
df.head()

,user_id,posted,item_id,recommend,sentiment_analysis
0,RegularSmokeyJoe,"Posted September 9, 2014.",48700,True,1
1,76561198044711473,Posted May 14.,379720,True,1
2,TheAntiPixel,Posted April 7.,413150,True,2
3,76561198091344363,"Posted February 24, 2014.",440,True,2
4,76561198132083512,"Posted July 4, 2014.",440,True,2

se lee el archivo steam_games para relacionar la columna año

In [21]:
df1= pd.read_csv('../datasets/steam_games.csv')

In [22]:
df1.head()

       genres                                         app_name      id    year
0  Simulation  Train Simulator: BR Class 423 ‘4VEP’ EMU Add-On   65256  2012.0
1       Indie                                       BattleRush  734580  2017.0
2    Strategy                                    Reverse Crawl  400660  2015.0
3   Adventure                         Countless Rooms of Death  341380  2014.0
4       Indie                                   Tomato Jones 2  625940  2017.0

se cambia el nombre del campo item_id por id, con el objetivo de lograr concantenación entre las dos archivos

In [23]:
df.rename(columns={'item_id': 'id'}, inplace=True)

se concatena  los archivos anteriores

In [24]:
merged_df = pd.merge(df1, df, on='id')

In [26]:
merged_df.head()

,genres,app_name,id,year,user_id,posted,recommend,sentiment_analysis
0,RPG,Robocraft,301520,2017.0,76561198097860960,"Posted April 11, 2015.",True,1
1,RPG,Robocraft,301520,2017.0,utarran,"Posted August 27, 2014.",True,1
2,RPG,Robocraft,301520,2017.0,76561198116557265,"Posted August 18, 2014.",True,2
3,RPG,Robocraft,301520,2017.0,76561198059301330,"Posted October 15, 2014.",True,1
4,RPG,Robocraft,301520,2017.0,flame1312,"Posted July 3, 2015.",True,1

se eliminan las columnas innecesarias en esta implementacion

In [27]:
merged_df.drop(columns=['app_name','user_id','posted'],inplace=True)

In [28]:
merged_df.head()

  genres      id    year  recommend  sentiment_analysis
0    RPG  301520  2017.0       True                   1
1    RPG  301520  2017.0       True                   1
2    RPG  301520  2017.0       True                   2
3    RPG  301520  2017.0       True                   1
4    RPG  301520  2017.0       True                   1

se convierte el datafrfame en archivo csv

In [29]:
merged_df.to_csv('../datasets/funcion_tres.csv',index=False)

se define la función sentiment_analysis para llevarla al archivo main

In [30]:
def sentiment_analysis(año: int):
    # Cargar los datos del archivo CSV (reemplaza 'data.csv' con tu archivo)
    df= pd.read_csv('../datasets/funcion_tres.csv')

    # Filtrar el DataFrame por el año de lanzamiento
    df_year = df[df['year'] == año]

    # Contar la cantidad de registros de reseñas categorizados con análisis de sentimiento
    sentiment_counts = df_year['sentiment_analysis'].value_counts()

    # Crear un diccionario con los recuentos de sentimientos
    result = sentiment_counts.to_dict()

    return result

In [31]:
sentiment_analysis(2012)

{1: 6, 2: 5, 0: 1}