Se importa las librerias de SCIKIT LEARN

In [17]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Leemos el dataset de STEAM GAMES, el cual contiene el campo nombre de juegos

In [21]:
df1= pd.read_csv('../datasets/steam_games.csv')

In [22]:
df1.head()

       genres                                         app_name      id    year
0  Simulation  Train Simulator: BR Class 423 ‘4VEP’ EMU Add-On   65256  2012.0
1       Indie                                       BattleRush  734580  2017.0
2    Strategy                                    Reverse Crawl  400660  2015.0
3   Adventure                         Countless Rooms of Death  341380  2014.0
4       Indie                                   Tomato Jones 2  625940  2017.0

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    2000 non-null   object
 1   app_name  2000 non-null   object
 2   id        2000 non-null   int64
 3   year      1995 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 62.6+ KB

Se crea un dataframe con solo la columna app_name

In [26]:
df2=df1['app_name'].astype(str)

df2

0         Train Simulator: BR Class 423 ‘4VEP’ EMU Add-On
1                                              BattleRush
2                                           Reverse Crawl
3                                Countless Rooms of Death
4                                          Tomato Jones 2
                              ...
1995                                       Tenshu General
1996                                 My Own Little Planet
1997    Fantasy Grounds - Mini-Dungeon #017: Shadows o...
1998                                       Battle Knights
1999                          The Saint: Abyss of Despair
Name: app_name, Length: 2000, dtype: object

Se vectoriza los nombres de los juegos representando cada juego como un vector numérico. Esto se puede hacer utilizando diferentes técnicas de procesamiento de texto, como TF-IDF (Term Frequency-Inverse Document Frequency) o embeddings.

In [ ]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df2)

se calcula la similitud de coseno entre los juegos

In [ ]:
similaridades = cosine_similarity(X, X)

funcion para encontrar los 5 juegos mas recomendados

In [29]:

def recomendar_juegos(juego, df2, similaridades, n=5):
    # Encontrar el índice del juego de entrada en la lista de juegos
    indice_juego = df2.index(juego)
    
    # Obtener las similitudes del juego de entrada con todos los juegos
    sim_juego = similaridades[indice_juego]
    
    # Obtener los índices de los juegos más similares (excluyendo el juego de entrada)
    indices_similares = sim_juego.argsort()[::-1][1:n+1]
    
    # Obtener los nombres de los juegos recomendados
    juegos_recomendados = [df2[i] for i in indices_similares]
    
    return juegos_recomendados